.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}
.header{
  background-color: #192a56;
  color: white;
  padding: 14px;
  width: 100%;
}
.form{
   margin-top: 30px;
}

.data{
  display: flex;
 margin-top: 30px;
 flex-direction: column;
 width: 100%;
 align-items: center;
}
.data_val{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 9px;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}